.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
    padding: 90px;
    height: 430px;
    width: 80%;
}

.portada {
    width: 400px;
    height: 400px;
    margin: auto 100px;
    background-position: center;
    background-size: 150%;
    border-radius: 100%;
    border: 10px dotted greenyellow;
}

.form {
    width: 25%;
    height: 100%;
    margin: auto;
    color: white;
    background-color: rgba(0, 0, 0, .7);
}

.form form {
    margin: 15% auto;
}

.form p {
    margin: 0;
}

.form input {
    width: 80%;
}

.form button {
    margin: 20px;
}

.form div {
    margin: 15px;
}

.form h6 {
    margin: 5px;
}
.form input:hover,
.form button:hover {
    background-color: greenyellow;
}

/* .singUpContainer {
    width: 300px;
    background-color: black;

    transform: translateY(-150%);
} */